loop.json
{
  "Comment": "Test step loop",
  "StartAt": "RunFunc",
  "States": {
    "RunFunc": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:164752778960:function:testStepLoop",
      "ResultSelector": {
        "step.$": "$.step1",
        "currentIndex.$": "$.nextIndex"
      },
      "Next": "ChoiceState"
    },
    "ChoiceState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.currentIndex",
          "NumericLessThan": 33,
          "Next": "NormalizeParam"
        }
      ],
      "Default": "EndState"
    },
    "NormalizeParam": {
      "Type": "Pass",
      "Parameters": {
        "count.$": "$.currentIndex",
        "step.$": "$.step"
      },
      "Next": "RunFunc"
    },
    "EndState": {
      "Type": "Succeed"
    }
  }
}